.container {
    display: inline-grid;
    gap: 4px;
    grid-template: 1fr 1fr 5fr 1fr / 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar nav"
        "sidebar article"
        "footer footer";
        height: 100vh;
    padding: 4px;
    resize: both;
    overflow: auto;
}

.area {
    border: 1px solid;
    border-radius: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header, #sidebar, #nav, #article {
    display: grid;
}

.menu, ul {
    display: inline-grid;
}

#header {
    background-color: rgb(43, 41, 41);
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    font-size: 2rem;
    padding: 5%;
    text-align: left;
}

.menu > ul {
    grid-template-columns: repeat(4, 1fr);
    padding: 4%;
    text-align: center;
}

#sidebar {
    background-color: rgba(130, 0, 0, 0.507);
    gap: 50px;
    grid-area: sidebar;
    justify-content: center;
    padding: 25px;
}

.photo, .side-content {
    background-color: antiquewhite;
    display: grid;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    padding: 40px 80px 40px 80px;
    width: 250px;
}

.photo {
    border-radius: 10px;
}

#nav {
    background-color: rgba(130, 0, 0, 0.507);
    grid-area: nav;
    grid-template-columns: 1, 1fr;
}

#nav > ul {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#article {
    background-color: grey;
    gap: 15px;
    grid-area: article;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 15px;
}

.card {
    background-color: antiquewhite;
    height: 200px;
    width: auto;
}

.title {
    font-size: 1.2rem;
    text-align: center;
}

#footer {
    background-color: rgb(43, 41, 41);
    grid-area: footer;
    padding: 0.5%;
    text-align: center;
}

#header, #nav, #footer {
    color: aliceblue;
}

p {
    font-size: 0.82rem;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2rem;
}